{% extends "APPcoreBundle:index:layout.html.twig" %}
{% block menu %}
<h3>Les annonces</h3>
<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('oc_platform_home') }}">Accueil</a></li>
    <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
</ul>

<h4>Dernières annonces</h4>
{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

{% endblock %}